@media only screen and (max-width: 767px) {
    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 1199px) {
    [class*="col-"] {
        padding: 5px;
    }
    .page{
        padding-left: -15px;
        padding-right: -15px;
    }
}
[class*="col-"] {
    float: right;
    padding: 15px;
    width: 100%;
    
}